<template name="homepage">
  {{> updateModal}}
  <div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Welcome to <strong>Indie for Small Biz</strong>!
              </li>
              <!-- <li class="breadcrumb-item"><a href="pages-app.html">App Pages</a>
              </li>


              <li class="breadcrumb-item active" >Collection - People</li> -->
            </ol>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </nav>
    <section>
      <div class="container">
        <div class="row justify-content-center align-items-center mt-2">
          <div class="col">
            <div class="media align-items-center">
              <div class="media-body">
                <div class="mb-3">
                  <h1 class="h2 mb-2">Recent entries</h1>
                  <span>Here's a list of your most recent QuickBook accounting entries</span>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-auto">

            <button class="btn btn-primary"><i class="icon-paper-plane mr-1"></i> Make an entry</button>
          </div> -->
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above">
      <div class="container">
        <div class="row">
          <div class="col">
            <table class="table table-hover align-items-center table-borderless">
              <thead>
                <tr>
                  <th scope="col">Timestamp</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Description</th>
                  <th scope="col">Payment Method</th>
                  <th scope="col">Location (lat/long)</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{#if hasData entries}}
                  {{#each entries}}
                    {{> entryCard}}
                  {{/each}}
                {{else}}
                <tr class="bg-white">
                  <th scope="row">
                    <div class="media align-items-center">
                      <!-- <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar" /> -->
                      <div class="media-body">
                        No expenses / purchases entered
                      </div>
                    </div>
                  </th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-dots-three-horizontal"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item update" href="#">Update</a>
                        <a class="dropdown-item" href="#">Attach receipt</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mark as invalid</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="table-divider"></tr>
                {{/if}}
              </tbody>
            </table>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
  </div>

</template>
