<template name="updateModal">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-center-viewport" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-borderless justify-content-end">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="icon-cross"></i>
            </span>
          </button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <div class="text-center w-75">
            <span class="h1">Update your expense</span>
            <span class="lead">I'm centered inside the viewport for a more aesthetically pleasing experience.</span>
            <img alt="Image" src="assets/img/graphic-woman-writing.svg" class="w-75" />
          </div>
        </div>
        <div class="modal-footer modal-footer-borderless justify-content-center">
          <button type="button" class="btn btn-lg btn-primary my-4" data-dismiss="modal">Thanks, You're dismissed</button>
        </div>
      </div>
    </div>
  </div>
</template>
